Checks: '
-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-empty-catch,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-unchecked-optional-access,
-bugprone-switch-missing-default-case,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-const-or-ref-data-members,
-cppcoreguidelines-avoid-do-while,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-prefer-member-initializer,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-missing-std-forward,
-cppcoreguidelines-rvalue-reference-param-not-moved,
google-readability-braces-around-statements,
google-build-using-namespace,
misc-unused-parameters,
modernize-*,
-modernize-use-emplace,
performance-*,
-performance-avoid-endl,
-performance-inefficient-vector-operation,
readability-*,
-readability-container-contains,
-readability-function-cognitive-complexity,
-readability-function-size,
-readability-identifier-length,
-readability-magic-numbers
'

HeaderFilterRegex: 'source/.*/include/TMIV/.*'

WarningsAsErrors: '*,-bugprone-exception-escape'

FormatStyle: file
