---
Checks:          '-*,bugprone-*,clang-analyzer-*,clang-diagnostic-*,cppcoreguidelines-*,-cppcoreguidelines-non-private-member-variables-in-classes,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-constant-array-index,google-*,-google-build-using-namespace,-google-global-names-in-headers,-google-runtime-references,misc-*,-misc-non-private-member-variables-in-classes,modernize-*,-modernize-use-nodiscard,performance-*,portability-*,readability-*,-readability-magic-numbers,-readability-static-accessed-through-instance'
FormatStyle:     file
