__pycache__/
/.deps/
/.directory
/.idea/
/.kateproject
/.vs/
/.vscode/
/build/
/build.*/
/cmake-build-*/
/CMakeSettings.json
/in/
/in.*/
/install/
/install.*/
/out/
/out.*/
/doc/detailed_module_graph.svg
/build.ninja
.ninja_log
build.json
